<thf-page-default
  [t-actions]="isPageEdit ? editUserActions : newUserActions"
  [t-breadcrumb]="isPageEdit ? editUserBreadcrumb : newUserBreadcrumb"
  [t-title]="isPageEdit ? literals?.editClient : literals?.addNewClient">

  <div class="thf-row">
    <div class="thf-lg-6 thf-offset-lg-3 thf-xl-6 thf-offset-xl-3">
      <form #formUser="ngForm">
        <div class="thf-row">
          <thf-input
            class="thf-md-12"
            name="name"
            [(ngModel)]="customer.name"
            t-clean
            [t-label]="literals?.name"
            t-minlength="3"
            t-placeholder="Insira o Nome"
            t-required>
          </thf-input>
          <thf-email
            class="thf-md-6"
            name="email"
            [(ngModel)]="customer.email"
            t-clean
            [t-label]="literals?.email"
            t-placeholder="Insira o Email"
            t-required>
          </thf-email>
          <thf-input
            class="thf-md-6"
            name="phone"
            [(ngModel)]="customer.phone"
            t-clean
            [t-label]="literals?.phone"
            t-placeholder="Insira o Telefone"
            t-mask="(99) 99999?-9999"
            t-required>
          </thf-input>
        </div>

        <div class="thf-row">
          <thf-datepicker
            class="thf-md-6"
            name="birthday"
            [(ngModel)]="customer.birthday"
            t-format="dd/mm/yyyy"
            [t-label]="literals?.birthday">
          </thf-datepicker>
        </div>

        <div class="thf-row">
          <thf-select
            class="thf-md-6"
            name="nationality"
            [(ngModel)]="customer.nationality"
            [t-label]="literals?.nationality"
            [t-options]="nationalityOptions">
          </thf-select>
          <thf-select
            class="thf-md-6"
            name="status"
            [(ngModel)]="customer.status"
            [t-label]="literals?.influency"
            [t-options]="statusOptions">
          </thf-select>
        </div>

        <div class="thf-row">
          <div class="thf-md-12">
            <thf-checkbox-group
              name="personality"
              [(ngModel)]="customer.personality"
              [t-label]="literals?.personality"
              [t-options]="personalityOptions">
            </thf-checkbox-group>
          </div>
        </div>

        <div class="thf-row">
          <thf-lookup
            class="thf-md-6"
            name="lookup"
            [(ngModel)]="customer.lookup"
            t-field-label="nickname"
            t-field-value="nickname"
            t-help="Select hero for mission"
            t-label="Hero"
            [t-placeholder]="literals?.insertValue"
            t-required
            t-title="Heroes available for mission"
            [t-columns]="columns"
            [t-filter-service]="lookupService">
          </thf-lookup>
        </div>
      </form>
    </div>
  </div>
</thf-page-default>

<thf-modal #modalDeleteUser
  t-close
  t-size="sm"
  [t-title]="literals?.modalDeleteTitle"
  [t-primary-action]="confirmDeleteAction"
  [t-secondary-action]="returnAction">

  <div class="thf-font-text-large thf-text-left">{{ literals?.modalDeleteMessage | thfI18n:[customer.name] }}</div>
</thf-modal>

<thf-modal #modalCancelEditUser
  t-close
  t-size="sm"
  [t-title]="literals?.modalCancelEditUserTitle"
  [t-primary-action]="confirmReturnToListAction"
  [t-secondary-action]="returnAction">

  <div class="thf-font-text-large thf-text-left">{{ literals?.modalCancelEditUserMessage | thfI18n:[customer.name] }}</div>
</thf-modal>

