<thf-page-default 
  [t-actions]="pageEditActions ? editUserActions : newUserActions"
  [t-breadcrumb]="pageEditActions ? editUserBreadcrumb : newUserBreadcrumb"
  [t-title]="pageEditActions ? 'Editar Cliente' : 'Adicionar Cliente'">

  <div class="thf-row">
    <div class="thf-lg-6 thf-offset-lg-3 thf-xl-6 thf-offset-xl-3">
      <form #formUser="ngForm">
        <div class="thf-row">
          <thf-input
            class="thf-md-12"
            name="name"
            [(ngModel)]="customer.name"
            t-clean
            t-label="Nome"
            t-minlength="3"
            t-placeholder="Insira o Nome"
            t-required>
          </thf-input>
          <thf-email
            class="thf-md-6"
            name="email"
            [(ngModel)]="customer.email"
            t-clean
            t-label="Email"
            t-placeholder="Insira o Email"
            t-required>
          </thf-email>
          <thf-input
            class="thf-md-6"
            name="phone"
            [(ngModel)]="customer.phone"
            t-clean
            t-label="Telefone"
            t-placeholder="Insira o Telefone"
            t-mask="(99) 99999?-9999"
            t-required>
          </thf-input>
        </div>

        <div class="thf-row">
          <thf-datepicker
            class="thf-md-6"
            name="birthday"
            [(ngModel)]="customer.birthday"
            t-format="dd/mm/yyyy"
            t-label="Data de nascimento">
          </thf-datepicker>
        </div>

        <div class="thf-row">
          <thf-select
            class="thf-md-6"
            name="nationality"
            [(ngModel)]="customer.nationality"
            t-label="Nacionalidade"
            [t-options]="nationalityOptions">
          </thf-select>
          <thf-select
            class="thf-md-6"
            name="status"
            [(ngModel)]="customer.status"
            t-label="Influência"
            [t-options]="statusOptions">
          </thf-select>
        </div>

        <div class="thf-row">
          <div class="thf-md-12">
            <thf-checkbox-group
              name="personality"
              [(ngModel)]="customer.personality"
              t-label="Características"
              [t-options]="personalityOptions">
            </thf-checkbox-group>
          </div>
        </div>


      </form>
    </div>
  </div>
</thf-page-default>

<thf-modal #modalDeleteUser
  t-close
  t-primary-label="Confirmar"
  t-size="sm"
  t-title="Tem certeza que deseja excluir?"
  [t-primary-action]="confirmDeleteAction"
  [t-secondary-action]="cancelDeleteAction">

  <div class="thf-font-text-large thf-text-left">O cliente {{ customer.name }} não estará mais vínculado ao projeto.</div>
</thf-modal>