<thf-page-edit
  [t-breadcrumb]="breadcrumb"
  [t-title]="title">

  <form #formEdit="ngForm">

    <div class="thf-row">
      <thf-lookup
        class="thf-md-4"
        name="customer"
        t-required
        [(ngModel)]="order.customerId"
        [t-filter-service]="customerService"
        [t-label]="literals?.customer"
        [t-columns]="customerColumns"
        t-field-value="id"
        t-field-label="name">
      </thf-lookup>

      <thf-select
        class="thf-md-4"
        name="status"
        t-required
        [(ngModel)]="order.status"
        [t-label]="literals?.status"
        [t-options]="statusOptions">
      </thf-select>

      <thf-datepicker
        class="thf-md-4"
        name="date"
        t-required
        [(ngModel)]="order.date"
        [t-label]="literals?.date"
        t-disabled>
      </thf-datepicker>
    </div>

    <p class="thf-font-subtitle thf-mb-3">{{ literals?.items }}</p>

    <div class="thf-row">
      <thf-grid
        class="thf-md-12"
        [t-columns]="itemsColumns"
        [t-data]="items">
    </thf-grid>
    </div>

  </form>

</thf-page-edit>
